.LoginMainSection {
        /* border-style: solid;
        border-width: 1px;
        border-color: red; */
    
    @apply
        flex 
        flex-col /* flex 방향을 새로로 */
        items-center /* 가로 정렬 */ 
        justify-center
        px-4   /* 좌우 여백 */
        flex-1
        /* mt-10   margin top : 1 당 4px */
    

}


.LoginPopup {
        /* border-style: solid;
        border-width: 1px;
        border-color: red; */
        
    @apply
        font-light
        leading-snug
        mb-8
        aspect-[4/5]
        w-[400px]
        max-w-[90vw]
        max-h-[90vh]
        p-8
        bg-orange-50
        justify-center
        items-center
        flex
        flex-col
        rounded-lg

        
}

.LoginBox {
    @apply
    space-y-4
}

.IdBox,
.PwBox  {
    /* border-style: solid;
    border-width: 1px;
    border-color: red; */
    @apply
    flex
    flex-col
}


.IdText,
.PwText {
    @apply
    font-bold
}


.Id,
.Pw {
    border-style: solid;
    border-width: 1px;
    border-color: red;

    @apply
    rounded-md
    bg-white
    h-8
    w-64
    pl-2
}


.SocialLogin {
    /* border-style: solid;
    border-width: 1px;
    border-color: red; */
    
    @apply
    rounded-md
    mt-8
    flex
    justify-evenly
}


.KakaoLoginBtn,
.GoogleLoginBtn,
.NaverLoginBtn,
.FacebookLoginBtn {

    @apply
    rounded-sm
    bg-cover
    bg-center
    bg-no-repeat
    w-8
    h-8
    overflow-hidden
    
}

.KakaoLoginBtn {
    background-image: url('../assets/kakao.png');
}

.GoogleLoginBtn {
    background-image: url('../assets/google.png');
}

.NaverLoginBtn {
    background-image: url('../assets/naver.png');
}

.FacebookLoginBtn {
    background-image: url('../assets/facebook.png');
}



.CheckBox {
    /* border-style: solid;
    border-width: 1px;
    border-color: red; */

    @apply
        flex 
        justify-between
        items-center
        mt-4


}


.SaveLoginBox {
    /* border-style: solid;
    border-width: 1px;
    border-color: red; */

    @apply
    flex
    items-center
}


.SaveLogin {
    @apply
    w-5 h-5 text-amber-600 bg-gray-100 border-gray-300 rounded 
               focus:ring-amber-500 focus:ring-2 cursor-pointer
}


.SaveLoginText {
    @apply
    ml-3 text-sm cursor-pointer select-none
}


.Register {
        /* border-style: solid;
        border-width: 1px;
        border-color: red; */

    @apply
        rounded-md
        cursor-pointer
}


.LoginCheck {
        /* border-style: solid;
        border-width: 1px;
        border-color: red; */

    @apply
        px-6
        py-3
        bg-gray-300
        text-gray-700
        text-center
        rounded-md
        cursor-pointer
        mt-16
        w-64
}