


.GuestMainSection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 24px;
    padding: 20px;
    justify-content: center;
}

.FileBox {
    /* border-style: solid;
    border-width: 1px;
    border-color: red; */

    @apply
    items-center
    h-32
    w-28
    text-center
}

.FileIcon {
    background-image: url('../assets/file2.png');
    background-size: contain;     
    background-repeat: no-repeat;  
    background-position: center;

    @apply
    h-24
}