.MainSection {

    @apply
        flex 
        flex-col 
        items-center 
        justify-center
        px-4   
        flex-1
        min-h-full

}

.MainBoard {

        
    @apply
        text-center
        text-8xl
        font-light
        leading-snug
        mt-8
        mb-8
}

.BtnBox {


    @apply
        flex 
        gap-32
        
        mt-10
}

.MoveRegister {


    @apply
        px-6
        py-3
        bg-gray-300
        text-gray-700
        rounded-md
        cursor-pointer
}

.MoveLogin {


    @apply
        px-6
        py-3
        bg-gray-300
        text-gray-700
        rounded-md
        cursor-pointer
}