
.modal-backdrop {
  position: relative;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {

  border-style: solid;
  border-width: 1px;
  border-color: red;

}


.TitleUrlBox {

  border-style: solid;
  border-width: 1px;
  border-color: red;

  @apply
  justify-center
  items-center

}