.header {
    @apply
        bg-gray-500   

        flex
        justify-between
        items-center
        px-8
        py-4
        
}

.title {
    @apply
        text-white
        p-4
        text-xl
        font-bold

        no-underline
}

.header-right {
    @apply
        flex
        items-center
        gap-4
}

.profile-button {
    @apply
        bg-transparent
        border-none
        cursor-pointer
        p-0;

}

.profile-icon {
    @apply
        w-11
        h-11
        bg-blue-500
        text-white
        rounded-full
        flex
        items-center
        justify-center
        text-xl
        font-bold
}

.guest-login-button {
    @apply
        bg-transparent 
        border-2 
        border-blue-400
        text-white
        px-6 
        py-2.5 
        rounded-lg 
        text-base 
        font-bold 
        cursor-pointer 
        transition-all 
        duration-300 
        hover:bg-blue-200 
        hover:text-white
}